{% set navItems = [
    {'title': 'Dashboard', 'route': 'dashboard_index'},
    {'title': 'Users', 'route': 'dashboard_users_index', 'roles': ['ROLE_ADMIN']},
    {'title': 'Quote', 'route': 'dashboard_quote_index'},
    {'title': 'Invoice', 'route': 'dashboard_invoice_index'},
    {'title': 'Products', 'route': 'dashboard_products_index'},
    {'title': 'Clients', 'route': 'dashboard_clients_index'},
] %}


<div id="sidebar" class="fixed inset-y-0 left-0 z-50 flex flex-col w-72 transform bg-white border-r shadow-lg -translate-x-72 transition-transform duration-300 xl:translate-x-0">
	<button id="closeSidebarButton" class="text-gray-600 hover:text-gray-900 p-4 flex justify-end xl:hidden">
		<svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
		</svg>
	</button>

	<div class="px-6 py-4">
		<div class="flex h-16 items-center">
			<img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
		</div>
		<nav class="mt-5">
			<ul>
				{% for item in navItems %}
					{% if not item.roles is defined or is_granted(item.roles|first) %}
						{% set isActive = (app.request.attributes.get('_route') == item.route) %}
						<li>
							<a href="{{ path(item.route) }}" class="text-gray-400 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold {{ isActive ? 'bg-gray-800 text-white' : '' }}">{{ item.title }}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
	</div>

	<div class="mt-auto px-6 py-4">
		<a href="#" class="flex items-center gap-x-4 rounded-lg p-2 hover:bg-gray-100">
			<img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="Your Profile">
			<span class="flex-1 min-w-0">
				<span class="block text-sm font-medium text-gray-900 truncate">Tom Cook</span>
				<span class="block text-sm font-medium text-gray-500 truncate">tom@example.com</span>
			</span>
		</a>
	</div>
</div>

<div class="sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-6 border-b border-white/5 bg-gray-900 px-4 shadow-sm sm:px-6 xl:hidden">
	<button id="openSidebarButton" type="button" class="p-2 text-white">
		<svg class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
			<path fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10zm0 5.25a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z" clip-rule="evenodd"/>
		</svg>
	</button>
</div>
