{% extends 'front.html.twig' %}
{% block title %}
	Reset your password
{% endblock %}

{% block body %}
	<div class="max-w-md mx-auto mt-10">
		<h2 class="text-2xl font-bold mb-5">Enter your new password</h2>
		{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'space-y-4'}}) }}
		{{ form_rest(form) }}
		<button type="submit" class="mt-5 w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
			Reset password
		</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
