{% extends 'back.html.twig' %}

{% block title %}Service
{% endblock %}

{% block body %}
	<div class="container mx-auto px-4 py-8">

		<div class="px-4 sm:px-6 lg:px-8">
			<div class="sm:flex sm:items-center">
				<div class="sm:flex-auto">
					<h1 class="text-base font-semibold leading-6 text-gray-900">Services</h1>
					<p class="mt-2 text-sm text-gray-700">A list of all the services in your application for your quote and invoice</p>
				</div>
				<div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
					<a href="{{ path('dashboard_service_new') }}" class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add service</a>
				</div>
			</div>
			<div class="mt-8 flow-root">
				<div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
					<div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
						{% embed 'partials/table/_table.html.twig' with {
        headers: ['ID', 'Name', 'Price', 'Duration'],
            rows: services|map(service => [service.id, service.name, service.price, service.duration]),
            actions: { template: 'service/_service_actions.html.twig' }
    } %}{% endembed %}
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
