{% extends 'front.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}
	{# Component living in a subdirectory: "assets/react/controllers/Admin/OtherComponent" #}
	<div {{ react_component('Invoice') }}></div>
{% endblock %}
