{% extends 'back.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<div class="max-w-4xl mx-auto px-4 py-6">
		<h1 class="text-lg font-semibold text-gray-800">Edit User</h1>
		<div class="mt-5">
			{{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}
			{{ form_widget(form) }}
			<div class="flex justify-between mt-4">
				<a href="{{ path('dashboard_users_index') }}" class="px-4 py-2 border border-gray-300 text-gray-700 rounded hover:bg-gray-100 transition ease-in-out duration-150">Cancel</a>
				<button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 transition ease-in-out duration-150">Update</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
